@import "preset.css";




body{
    background-color: rgba(0, 0, 0);
    height: 1vh;
}

a{
    color: inherit;
   
}



/* nav break */



header.jumbotron {
    text-align: center;
    background-image: url('/imgs/w1.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    position: relative;
    height: 100vh;
    

}
header.jumbotron::before{
    background-color: white;
    

}
header.jumbotron .container {
    color: white;
    padding: 200px 0px;
   
  }

  header.jumbotron hr {
    max-width: 50px;
    border: solid 2px #ff6e3a;
  }
  header.jumbotron h4 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
  }

  /* header container break */

  section {
    padding: 40px 0px;
  }

  section#section_que {
    /* background-color: rgba(255, 255, 255); */
    
  }
  section#section_que .col-sm-5.img {
    background-image: url('/imgs/15.jpg');
    background-size: cover; background-position: center center;
    height: 300px;
    /* mix-blend-mode: darken; */
  }
  section#section_que h2 {
    margin-top: 130px;
    padding: 0px 20px;
    color: white;
  }


section#section_About .col-sm-5.img {
  background-image: url('/imgs/w7.jpg');
  background-size: cover; background-position: center center;
  height: 500px;
  /* mix-blend-mode: darken; */
}
  
  section#section_About h3 {
    /* background-color: rgba(255, 255, 255); */
    color: white;
  }


  section#section_About p, 
  section#section_About h4,
  section#section_About h5 {
    /* margin-top: 130px; */
    padding: 0px 20px;
    color: white;
  }



  section#section_ask {
    /* background-color: rgba(255, 255, 255); */
    
  }
  section#section_ask .col-sm-5.img {
    background-image: url('/imgs/w10.jpg');
    background-size: cover; background-position: center center;
    height: 300px;
    /* mix-blend-mode: darken; */
  }
  section#section_ask h2 {
    margin-top: 130px;
    padding: 0px 20px;
    color: white;
  }
  

  section#section_story {
    /* background-color: #222; */
    color: white;
    padding: 0;
  }
  section#section_story .col-sm-5 {
    background-image: url(https://stutzfamily.com/mrstutz/Maps/USHistory/europe1938.gif);
    background-size: 100% auto;
    height: 400px;
  }
  section#section_story .col-sm-5 .cross {
    position: absolute;
    left: 23%;
    top: 40%;
    color: red;
    font-size: 30px;
    font-weight: bold;
  }
  section#section_story .col-sm-7 {
    text-align: center;
  }
  section#section_story .col-sm-7 i {
    font-size: 40px;
  }
  section#section_story .features {
    margin: 40px 0px;
  }


  /* card test */

.carousel-inner{
    padding: 0 2%;
}

  .card{
    border:none!important;

  }
  .btn-primary{
      background-color: #570FF2!important ;
      border: none!important;
  }
  div { -webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;-webkit-perspective: 1000; }


  .scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    /* margin-left: -16px; */
    display: block;
    width: 2em;
    height: 2em;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1) ,translateX(-50%);
    }
    
    .scroll-down:before {
    transform: translateX(-50%);
      position: relative;
      top: 0.5em;
      left: 0.65em;
  
      transform: rotate(-45deg);
      display: block;
      width: 0.5em;
      height: 0.5em;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
    }
    
    @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateX(-50%)  translateY(0);
      -ms-transform:  translateX(-50%) translateY(0);
      transform:  translateX(-50%)  translateY(0);
    }
    40% {
      -webkit-transform:translateX(-50%)  translateY(-10px);
      -ms-transform: translateX(-50%)  translateY(-10px);
      transform:  translateX(-50%) translateY(-10px);
    }
    60% {
      -webkit-transform:  translateX(-50%) translateY(-5px);
      -ms-transform:  translateX(-50%) translateY(-5px);
      transform:  translateX(-50%) translateY(-5px);
    }
    }
