
@import "preset.css";
/* * {
	margin:0px;
	padding:0px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
} */

body{
	margin-top: 4em!important;

}

/* ::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
} */


.grid .col2 {
	width: 50%;
	padding: 0 10px 0 0;
}
.grid .col2.first {
	float: left;
}
.grid .col2.last {
	float: right;
}

.grid .col3 {
	width: 32%;
	float: left;
	margin-right: 11px;
}
.grid .col3.first {
	margin-left: 0;
	float: left;
}
.grid .col3.last {
	margin-right: 0;
	float: right;
}

/* profile page */
/* .container {
    padding: 60px 50px 70px;
} */

.innerwrap {
    width: 1200px;
    margin: 0 auto;
}

.section1 {
	background: #fff;
	position: relative;
	border-radius: 2px;
}
.section1 div .row:first-child {
	padding: 25px;
}

#myname{
	color: white;
}
#myphoto  {
	border-radius: 50%;
	margin: 0 20px;
	width: 120px;
	border:2px solid #f1f1f1;
	padding: 2px;
	float: left;
}
.section1 .col2.first {
	line-height: 25px;
	position: relative;
	border-right:1px solid #a2a2a2;
}
.section1 .col2.first h1 {
    font-weight: normal;
    margin-bottom: 10px;
	margin-top: 15px;
	text-transform: capitalize;
}
.section1 .col2.first p {
	font-size: 14px;
}
.section1 .col2.first span {
	position: absolute;
    right: 5em;
    top: 16px;
    background: #6AAFEA;
    padding: 5px 11px;
    font-size: 12px;
    line-height: 1;
    border-radius: 2px;
    color: #fff;
  cursor:pointer;
}
#follow,
#create_recipe {
	position: absolute ;
    right: 5em;
    top: 2em;
    background: #6AAFEA;
    padding: 5px 11px;
    font-size: 12px;
    line-height: 1;
    border-radius: 2px;
    color: #fff;
  cursor:pointer;
  border: none;
}

#create_recipe{}


.section1 .col2.last {
	padding: 8px 0;
}
.section1 .col2.last .col3 span {
    color: #a2a2a2;
    font-size: 14px;
}
.section1 .col2.last .col3 h1 {
    color: white;
}

.section1 .col2.last .col3 {
    text-align: center;
    line-height: 30px;
    border-right: 1px solid rgb(58, 58, 58);
}

.section1.col2.last .col3::after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
     /* Change this to whatever width you want. */
	background-color:white; 
	width: 20px;
	/* This creates the border. Replace black with whatever color you want. */
}

.section1 .col2.last .col3.last {
	border-right: 0;
}


.row2tab{
	margin: 0;
	padding: 0;
}
.row2tab li {
    /* border-right: 1px solid; */
    border-right:0.2px solid rgba(0,0,0,0.1);
    list-style: none;
    float: left;
    width: 25%;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    cursor:pointer;
    background: #f1f1f1;
    color: #555;
    border-bottom: 2px solid #f1f1f1;
}



.row2tab .li_selected {
	/* color: #6AAFEA; */
	color: rgba(86, 14, 242, 1);
    border-bottom: 2px solid rgba(86, 14, 242, 1);;
    /* border-radius: 0 0 2px 2px; */
}

.outer{
	background-color: black;
	border: #a2a2a2 0.5px solid;
	/* border: 1; */
}

.row2tab li i {
        margin-right: 3px;
    font-size: 14px;
}
.row2tab li:last-child{
    border-right:0
}

.smalltri {
		border-right: 40px solid #6AAFEA;
		border-right: 40px solid rgba(86, 14, 242, 1);
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid rgba(86, 14, 242, 1);
    border-bottom: 20px solid transparent;
    padding: 0px;
    top: 0;
    right: 0;
    position: absolute;
}
.smalltri i {
    position: absolute;
    top: -5px;
    right: -33px;
    color: #fff;
    border: 0px;
    font-size: 12px;
}

section.section2 {
    margin: 50px 0;
}

.section2 .col3 {
	width: 30%;
	margin-right: 60px;
	background: #fff;
	border-radius: 2px;
}

.section2 .postcont img {

	width: 100%;
}
.section2 .profileinfo {
    text-align: center;
    padding: 0 10px 30px;
    color: #555;
    font-size: 14px;
    line-height: 25px;
}
.section2 .profileinfo img {
    border-radius: 50%;
    width: 80px;
    padding: 2px;
    border: 3px solid #6AAFEA;
    margin-top: -48px;
    margin-bottom: 18px;
}
.section2 .col3.center .profileinfo img {
    border: 3px solid #FB4C22;

}
.section2 .profileinfo p {
	text-align: justify;
}
.section2 .profileinfo span {
	margin-top: 15px;
    display: block;
    text-align: left;
    color: #6AAFEA;
    cursor: pointer;
}
.section2 .profileinfo span i {
	margin-left: 10px;
}
.profile_card{
	background-color: black;
	padding-top: 2em;
}
.profile_photo{
	overflow: hidden; width: 120px; height: 120px; background-size: cover; background-position: center center; border-radius: 50%;
}
.myinfo_div{
	margin: 1em 0;
}

.card{
    border: solid 0.1px gray!important;

  }
.user_photo{
	overflow: hidden; width: 110px; height: 110px; background-size: cover; background-position: center center; border-radius: 50%;

}



.user_followed{
	background-color: rgba(199, 46, 242, 1)!important;

}

#head_label{
	transition-duration: 0.2s;
	font-size: 5em;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 80px;
	top: 65px;
	opacity: 0;

	color: rgba(255,255,255,0.3);
	/* color: rgba(19, 18, 18, 0.3); */
}

#head_label:hover{
	opacity: 1;

	color: rgba(255,255,255,0.3);

}
.other_hover{
	opacity: 0;
}




@media only screen and (max-width: 1600px) {
	.innerwrap {
		width: 90%;
	}
	.section2 .col3 {
		margin-right: 5%;
	}
	.section1 .grid .col3 {
		margin-right: 2%;
	}
	.section1 .col2.last .col3.last {
		margin-right: 0;
	}
}

@media only screen and (max-width: 1500px) {
	.section1 .col2 {
		width: 100%;
		border-right:0 !important;
		padding: 0;
	}
}

@media only screen and (max-width: 660px) {
	.section2 .col3 {
		width: 100%;
		float: none !important;
		margin-bottom: 10px;
	}
	.row2tab li {
		width: 50%;
		text-align: left;
	}
	.section1 .col2.first {
		text-align: center;
	}
	.section1 .col2.first img {
		display: inline-block;
		float: none;
	}
	.section1 .col2.first span {
		position: relative;
		right: 0;
	}
  .section1 .col2.last {
    margin-top:25px;
  }
}
@media only screen and (max-width: 450px) {
	/* .container {
    padding: 60px 5px 70px;
} */
  .row2tab li {
		width: 100%;
		text-align: left;
	}
	.section1 .col2.last .col3 span {
		font-size: 10px;
	}
	.section1 .col2.last .col3 h1 {
		font-size: 18px;
	}
	
}